/* header start */

*{
 	margin: 0;
 	padding: 0;
 }
 body{
 	font-family: Lato, Arial, san-serif;
 	width: 100%;
 	overflow-x: hidden;
    
 }
 p,h1,h2,h3,h4,h5,h6{
 	color: #000000;
 }
 p{
 	font-size: 14px;
 }

 /*Header css Start*/
 .top-header {
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}

.logo-section .brand-logo {
    text-decoration: none;
    outline: 0;
    display: inline-block;
}

.logo-section .brand-logo img {
    width: 110px;
}

.top-header .search-input {
    position: relative;
    width: 55%;
}

.main-header {
    background-color: #ffffff;
}

.top-header .logo-section {
    width: 20%;
}

.top-header .card-signup {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-input .input-search {
    border-bottom: 2px solid #ff9900;
    border-radius: 3px 0 0 3px !important;
    height: 45px;
    font-size: 115%;
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.search-input .submit-button {
    background-color: #0397d3;
    color: #ffffff;
    width: 50px;
    padding-top: 5px;
}

.top-header .card-signup .card-menu-wrapper {
    margin: 0px 15px 0px 0px;
    position: relative;
}

.top-header .card-signup .card-menu-wrapper .card-menu-inner,
.signup-with-btn .signup {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    position: relative;
}

.signup-with-btn .signup {
    color: #464646;
    text-align: center;
    width: 80px;
    height: 38px;
    padding-right: 5px;
    padding-left: 5px;
}

.signup-with-btn .signup:hover{
	background-color: #33c24d;
	border-collapse: #33c24d;
	color: #ffffff;
}

.main-menu .main-menu-inner-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-left: -80px;
    flex-wrap: wrap;
}

.main-menu .main-menu-inner-wrapper .nav-item-main-active {
    padding: 6px 15px;
    border: 1px solid #89C4F4;
    border-bottom-color: #ffffff;
    margin: 2px 30px 0 0;
}

.main-menu .main-menu-inner-wrapper .nav-item-main {
	margin: 2px 30px 0 0;
	list-style-type: none;

}

.main-menu .main-menu-inner-wrapper .nav-item-main .nav-item-link {
    text-decoration: none;
    outline: none;
    color: #333333;
    display: inline-block;
}

.navbar-main .main-another-menu {
    border: 1px solid #89C4F4;
    border-left-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    margin-top: -1px;
}

.main-another-menu .main-another-menu-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    text-align: center;
    height: 3em;
    margin: 0;
}

.main-another-menu .main-another-menu-inner-wrapper .nav-item-main {
    list-style: none;
    margin-right: 15px;
}

.main-another-menu .main-another-menu-inner-wrapper .nav-item-main .nav-item-link {
    display: inline-block;
    padding: 12px 15px;
    color: #333333;
    text-decoration: none;
}
 /*Header css End*/

/*Banner css start*/
.home-banner {
    padding: 20px 0px 0px 0px;
}

 .home-banner-inner a img {
    width: 100%;
}
/*Banner css End*/

/*small banner css start*/
.small-banner-wrapper {
    padding: 0 0 20px 0;
    margin: 20px 0px 0px 0px;
}

.small-banner-wrapper .small-banner-inner a img {
    width: 100%;
}
/*small banner css end*/

/*best-seller css start*/
.best-seller-award {
    margin: 0px 0px 25px 0px;
}

.best-seller-award .best-seller-award-title {
    text-align: center;
    margin: 0px 0px 12px 0px;
}

.best-seller-award .best-seller-award-title img {
    width: 600px;
}

.best-seller-award .best-seller-all-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
}

.best-seller-all-category .best-seller-category-book,
.best-seller-all-category .best-seller-category-author {
    background-color: #0797d6;
    width: 355px;
    box-shadow: 0 0 5px 1px rgb(191 191 191 / 75%);
}

.best-seller-all-category .best-seller-category-book .best-seller-book-title,
.best-seller-all-category .best-seller-author-title {
    text-align: center;
    padding: 8px 0px 0px 0px;
}

.best-seller-all-category .best-seller-category-book .best-seller-book-title img {
    width: 180px;
}

.best-seller-category-book .best-seller-book-wrapper,
.best-seller-category-author .best-seller-book-author-wrapper,
.book-top-reviewer .book-top-reviewer-wrapper,
.book-top-buyer .book-top-buyer-wrapper,
.book-top-publisher .book-top-publisher-wrapper {
    margin: 5px 10px 10px 10px;
}

.best-seller-category-book .best-seller-book-wrapper .best-seller-book-inner,
.best-seller-category-author .best-seller-book-author-inner,
.book-top-buyer .book-top-buyer-wrapper .book-top-buyer-inner {
    padding: 20px 30px 0 30px;
    height: 97px;
    background-color: #F5F3FA;
    border-bottom: 0;
}

.best-seller-category-book .best-seller-book-category-list,
.best-seller-category-author .best-seller-book-author-category-list,
.book-top-buyer .book-top-buyer-wrapper .book-top-buyer-inner .book-top-buyer-category-list {
    border-radius: 20px;
    font-size: 12px;
    color: #666666;
    padding: 8px 15px;
    height: 34px;
    border-color: #e8e9eb;
    background-color: #ffffff;
    background: url(../image/icon-leaderboard-dropdown.png);
    background-repeat: no-repeat;
    background-position: 95% 55%;
}

.best-seller-category-book .best-seller-book-tabs,
.best-seller-category-author .best-seller-book-author-tabs,
.book-top-reviewer .book-top-reviewer-inner .book-top-reviewer-tabs,
.book-top-buyer .book-top-buyer-wrapper .book-top-buyer-inner .book-top-buyer-tabs,
.book-top-publisher-wrapper .book-top-publisher-inner .book-top-publisher-tabs {
    border: none;
    justify-content: center;
    padding: 8px 0px 0px 0px;
}

.best-seller-category-book .best-seller-book-tabs .best-seller-book-list,
.best-seller-category-author .best-seller-book-author-tabs .best-seller-book-author-list,
.book-top-reviewer .book-top-reviewer-inner .book-top-reviewer-tabs .book-top-reviewer-list,
.book-top-buyer .book-top-buyer-wrapper .book-top-buyer-inner .book-top-buyer-tabs .book-top-buyer-list,
.book-top-publisher-wrapper .book-top-publisher-inner .book-top-publisher-tabs .book-top-publisher-list {
    border: none;
    background-color: transparent;
    color: #b2b2b2;
    padding: 6px 12px;
    margin: 0px 25px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
}

.best-seller-category-book .best-seller-book-tabs .book-active,
.best-seller-category-author .best-seller-book-author-tabs .book-aothor-active,
.book-top-reviewer .book-top-reviewer-inner .book-top-reviewer-tabs .book-reviewer-active,
.book-top-buyer .book-top-buyer-wrapper .book-top-buyer-inner .book-top-buyer-tabs .book-buyer-active,
.book-top-publisher-wrapper .book-top-publisher-inner .book-top-publisher-tabs .book-publisher-active {
    color: #495057;
    border-bottom: 2px solid #51c2fe;
}

.best-seller-book-item-wrapper .best-seller-book-serial-number,
.best-seller-category-author .best-sel-book-top-author-sec .best-sel-book-author-serial-num,
.book-top-reviewer .book-top-reviewer-single-item .book-top-reviewer-serial-number,
.book-top-buyer .book-top-buyer-single-item .book-top-buyer-serial-number,
.book-top-publisher .book-top-publisher-single-item .book-top-buyer-serial-number {
    font-size: 24px;
    color: #b2b2b2;
    margin: 0;
}

.best-seller-book-item-wrapper .serial-number-active,
.book-top-reviewer .book-top-reviewer-single-item .serial-number-active,
.book-top-buyer .book-top-buyer-single-item .serial-number-active,
.book-top-publisher .book-top-publisher-single-item .serial-number-active {
    color: #ff9900;
}

.best-seller-book-item-wrapper .best-seller-book-img {
    width: 35px;
    height: 50px;
    margin: 0px 0px 0px 15px;
}

.best-seller-book-item-wrapper .best-seller-book-product-info,
.best-seller-category-author .product-info,
.book-top-reviewer .book-top-reviewer-single-item .product-info,
.book-top-buyer .book-top-buyer-single-item .product-info,
.book-top-publisher .book-top-publisher-single-item .product-info {
    margin: 0px 0px 0px 15px;
}

.best-seller-book-product-info .best-seller-book-name,
.best-seller-category-author .product-info p,
.book-top-reviewer .book-top-reviewer-single-item .product-info p,
.book-top-buyer .book-top-buyer-single-item .product-info .produc-name,
.book-top-buyer .book-top-buyer-single-item .product-info .produc-number,
.book-top-publisher .book-top-publisher-single-item .product-info p {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    color: #333333;
}

.book-top-buyer .book-top-buyer-single-item .product-info .produc-number {
	color: #a3a3a3!important;
}

.best-seller-book-product-info .best-seller-book-author {
    font-size: 14px;
    font-weight: 400;
    margin: 3px 0px 0px 0px;
    color: #a3a3a3;
}

.best-seller-category-book .best-seller-book-rank-icon,
.best-sel-book-top-author-sec .best-sel-book-author-rank-icon,
.book-top-reviewer .book-top-reviewer-single-item  .book-top-reviewer-rank-icon,
.book-top-buyer .book-top-buyer-single-item .book-top-buyer-rank-icon,
.book-top-publisher .book-top-publisher-single-item .book-top-publisher-rank-icon {
    margin-left: auto;
    margin-bottom: 0;
}

.best-seller-category-book .best-seller-book-rank-icon i,
.best-sel-book-top-author-sec .best-sel-book-author-rank-icon i,
.book-top-reviewer .book-top-reviewer-single-item  .book-top-reviewer-rank-icon i,
.book-top-buyer .book-top-buyer-single-item .book-top-buyer-rank-icon i,
.book-top-publisher .book-top-publisher-single-item .book-top-publisher-rank-icon i {
    font-size: 24px;
    color: #b2b2b2;
    -webkit-text-stroke: 0.5px #fff;
}

.best-seller-category-book .best-seller-book-rank-icon .icon-arrow-up {
    color: #33c24d!important;
}

.best-seller-category-book .best-seller-book-rank-icon .icon-arrow-down {
    color: #ff6002!important;
}

.best-seller-book-button,
.best-sel-book-author-button,
.book-top-reviewer .book-top-reviewer-button,
.book-top-buyer .book-top-buyer-button,
.book-top-publisher .book-top-publisher-button {
    text-align: center;
}

.best-seller-book-button .view-all-button,
.best-sel-book-author-button .view-all-button,
.book-top-reviewer .book-top-reviewer-button .view-all-button,
.book-top-buyer .book-top-buyer-button .view-all-button,
.book-top-publisher .book-top-publisher-button .view-all-button {
    background-color: transparent;
    border: 1px solid #0397d3;
    color: #0397d3;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 18px;
    margin-bottom: -6px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.best-seller-book-button .view-all-button:hover,
.best-sel-book-author-button .view-all-button:hover,
.book-top-reviewer .book-top-reviewer-button .view-all-button:hover,
.book-top-buyer .book-top-buyer-button .view-all-button:hover,
.book-top-publisher .book-top-publisher-button .view-all-button:hover {
    background-color: #0397d3;
    color: #ffffff;
}

.best-seller-award .best-seller-category-author {
    background-color: #f7941e;
}

.best-seller-all-category .best-seller-author-title img {
    width: 200px;
}

.best-seller-category-author .best-seller-book-top-author {
    display: flex;
    justify-content: center;
    margin-left: -30px;
}

.best-seller-category-author .best-sel-book-top-author-all-content {
    margin-top: 40px;
}

.best-seller-book-top-author .best-sel-book-top-author-wrapper {
    display: block;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    position: relative;
    outline: none;
}

.best-seller-book-top-author .best-sel-book-top-author-wrapper .best-sel-book-author-img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 2px solid #feb204;
}

.best-seller-book-top-author .best-sel-book-top-author-wrapper .top-author-badg {
    color: #495057;
    background-color: #ffc266;
    border-radius: 50%;
    padding: 5px 9px;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    bottom: 35%;
    left: 40%;
}

.best-seller-book-top-author .best-sel-book-top-author-wrapper .top-author-badg-winner {
	left: 47%;
	background-color: #ff9900;
}

.best-seller-book-top-author .best-sel-book-top-author-wrapper .best-sel-book-top-author-name {
    width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
    font-size: 13px;
    color: #333333;
}

.best-seller-category-author .best-seller-book-top-author .top-author-first {
    margin: -45px 0 0 0;
}

.best-seller-category-author .top-author-first .best-sel-book-top-author-img .best-sel-book-top-winner {
    margin-top: -73px;
    margin-right: -22px;
    width: 34px;
    height: 36px;
}

.best-seller-category-author .top-author-first .best-sel-book-top-author-img .best-sel-book-author-win {
    width: 94px;
    height: 94px;
    border: 2px solid #ff8503;
    border-radius: 50%;
}

.best-seller-category-author .top-author-third {
    margin-right: -30px;
}

.best-seller-category-book .best-seller-book-item-wrapper,
.best-seller-category-author .best-sel-book-top-author-sec,
.book-top-reviewer .book-top-reviewer-single-item,
.book-top-buyer .book-top-buyer-single-item,
.book-top-publisher .book-top-publisher-single-item {
    display: flex;
    align-items: center;
    border-top: 1px solid #eee;
    padding: 15px 0;
    text-decoration: none;
}

.best-seller-category-book .best-seller-book-item-wrapper:first-child,
.book-top-reviewer .book-top-reviewer-single-item:first-child,
.book-top-buyer .book-top-buyer-single-item:first-child,
.book-top-publisher .book-top-publisher-single-item:first-child {
    border: 0;
    padding-top: 0px;
}

.best-seller-category-author .best-sel-book-top-author-sec .best-sel-book-author-serial-num {
	color: #b2b2b2;
}

.best-seller-category-author .best-sel-book-top-author-sec .best-sel-book-author-circle-img,
.book-top-reviewer .book-top-reviewer-single-item .book-top-reviewer-single-img,
.book-top-buyer .book-top-buyer-single-item .book-top-buyer-single-img,
.book-top-publisher .book-top-publisher-single-item .book-top-publisher-single-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 0px 0px 15px;
}

.best-seller-all-category .book-top-reviewer-sec {
    margin: -8px 0px 0px 0px;
}

.best-seller-all-category .book-top-reviewer,
.best-seller-all-category .book-top-reviewer-sec .book-top-buyer,
.book-top-reviewer-sec .book-top-publisher {
    background-color: #AB91EB;
    padding: 0px 0px 1px 0px;
    margin: 0px 0px 25px 0px;
    width: 355px;
}

.book-top-reviewer-sec .book-top-publisher{
	margin: 25px 0px 0px 0px;
	background-color: #f7755e;
}

.best-seller-all-category .book-top-reviewer .book-top-reviewer-title,
.best-seller-all-category .book-top-buyer .book-top-buyer-title,
.book-top-reviewer-sec .book-top-publisher .book-top-publisher-title {
    padding: 5px 0px;
    position: relative;
    cursor: pointer;
    margin: 8px 0px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.book-top-reviewer-sec .book-top-publisher .book-top-publisher-title{
	padding: 10px 0px 4px 0px;
}

.best-seller-all-category .book-top-reviewer .book-top-reviewer-title img {
    width: 190px;
}

.best-seller-all-category .book-top-reviewer .book-top-reviewer-title .rank-icon,
.best-seller-all-category .book-top-buyer .book-top-buyer-title .rank-icon,
.book-top-reviewer-sec .book-top-publisher .book-top-publisher-title .rank-icon {
    margin: 0;
}

.best-seller-all-category .book-top-reviewer .book-top-reviewer-title .rank-icon i,
.best-seller-all-category .book-top-buyer .book-top-buyer-title .rank-icon i,
.book-top-reviewer-sec .book-top-publisher .book-top-publisher-title .rank-icon i {
    font-size: 200%;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    right: 8%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.book-top-reviewer .book-top-reviewer-inner,
.book-top-publisher-wrapper .book-top-publisher-inner {
    height: 42px;
    padding: 0 30px 0 30px;
}

.best-seller-all-category .book-top-reviewer-sec .book-top-buyer {
    background-color: #89c540!important;
}

.best-seller-all-category .book-top-buyer .book-top-buyer-title img {
    width: 140px;
}

.book-top-reviewer-sec .book-top-publisher .book-top-publisher-title img {
    width: 180px;
}
/*best-seller css end*/

/*subscription css start*/
.subscription-sec {
    background-color: #FFFFFF;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px -3px #9c9c9c;
    border-radius: 3px;
}

.subscription-sec h1 {
    font-size: 145%;
    text-align: center;
    color: #333333;
    line-height: 130%;
    word-spacing: 3px;
    margin-bottom: 25px;
}

.subscription-sec h1 span {
    font-size: 120%;
    margin: 0 6px;
    color: #33c24d;
}

.subscription-sec .male-subscription-btn {
    color: #0397d3 !important;
    border-color: #0397d3;
    font-size: 105%;
    border-radius: 2px 2px 2px 2px !important;
    box-shadow: 0px 3px 6px -4px #a2a2a2;
    padding: 10px 10px;
    margin: 0 10px;
}

.subscription-sec .male-subscription-btn:hover{
	color: #FFFFFF !important;
    background-color: #0397d3 !important;
    box-shadow: none !important;
    border-color: #8bc4ea !important;
}

.subscription-sec .female-subscription-btn {
    color: #E26A6A !important;
    border-color: #E26A6A;
    font-size: 105%;
    border-radius: 2px 2px 2px 2px !important;
    box-shadow: 0px 3px 6px -4px #a2a2a2;
    color: #E26A6A;
    border-color: #E26A6A;
    padding: 10px 10px;
    margin: 0 10px;
}

.subscription-sec .female-subscription-btn:hover {
    color: #FFFFFF !important;
    background-color: #E26A6A !important;
    box-shadow: none !important;
    border-color: #eda3a3 !important;
}
/*subscription css end*/

/*rokomari-features css start*/
.rokomari-features-sec {
    margin: 30px 0;
    background-color: #f1f2f4;
}

.rokomari-features-sec .rokomari-features-secwrapper {
    display: flex;
    align-items: center;
}

.rokomari-features-sec .rokomari-features-icon-img {
    align-self: center;
}

.rokomari-features-sec .rokomari-features-icon-img img {
    height: 34px;
}
.rokomari-features-sec .rokomari-features-secwrapper {
    display: flex;
    align-items: center;
}

.rokomari-features-sec .rokomari-features-secwrapper .rokomari-features-content {
    /* align-self: center; */
    /* float: left; */
    color: #666666;
}

.rokomari-features-sec .rokomari-features-secwrapper .rokomari-features-content p {
    font-size: 98%;
    margin-left: 10px;
    word-spacing: 3px;
}

.rokomari-features-sec .rokomari-features-secwrapper .rokomari-features-content p span {
    display: block;
    font-size: 105%;
    color: #333333;
}
/*rokomari-features css End*/

/*book list category css start*/
.recent-sold-book-list-sec {
    background-color: #FFFFFF;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px -3px #9c9c9c;
    border-radius: 3px;
    padding-bottom: 15px;
    background-image: linear-gradient(rgba(252, 250, 238, 0.6), rgba(252, 250, 238, 0.6)), url(../image/bg-img-sold-recent-book.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.recent-sold-book-list-sec .recent-sold-book-list-main-heading {
    display: flex;
    align-items: center;
}

.recent-sold-book-list-sec .recent-sold-book-list-main-heading h1 {
    font-size: 160%;
    color: #333333;
    display: inline;
}
.recent-sold-book-slider-inner .recent-sold-book-single-product {
    text-decoration: none;
    display: block;
}

.recent-sold-book-slider-inner .recent-sold-book-single-product .recent-sold-book-single-produc-img {
    transform: scale(0.84);
    margin-top: -15px;
    position: relative;
    width: 130px;
    margin: 0 auto;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.recent-sold-book-slider-inner .recent-sold-book-single-product .recent-sold-book-single-produc-img img {
    width: 130px;
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.recent-sold-book-slider-sec .discount-badge {
    position: absolute;
    top: 0;
    left: -23px;
    height: 42px;
    width: 46px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    color: #000000;
    background-image: url(../image/recent-sold-book-list/discount-badge-1.png);
}

.recent-sold-book-slider-sec .discount-badge p {
    margin-left: 8px;
    margin-top: 2px;
    font-size: 128%;
    font-weight: 600;
}

.recent-sold-book-single-product .look-inside-badge {
    position: absolute;
    bottom: 0;
    left: 45px;
    height: 68px;
    width: 85px;
    background-image: url(../image/recent-sold-book-list/common-look-inside-img.png);
}

.recent-sold-book-single-product .cart-btn-area {
    text-align: center;
    display: none;
    position: absolute;
    top: 80px;
    bottom: 0;
}

.recent-sold-book-single-product .cart-btn-area .cart-btn {
    height: 50px;
    font-size: 135%;
    color: #FFFFFF !important;
    border-radius: 3px;
    background-color: #ff9900;
    box-shadow: 0px 3px 6px -4px #a2a2a2;
    background-position: center;
    -webkit-transition: background 0.8s;
    transition: background 0.8s;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 7px;
    height: auto;
    font-size: 110%;
    font-weight: 700;
    position: relative;
    padding: 10px 12px;
    width: 130px;
}

.recent-sold-book-single-product .cart-btn-area .cart-btn svg {
    margin-right: 5px;
    vertical-align: middle;
}
/*book list category css end*/
/* header end */
*{
    box-sizing: border-box;
}
.background-color-check{
    background-color: #87b5ff;
    height: 500px;
}
.background-color-check2{
    background-color: orange;
    height: 500px;
}
.another{
    
    margin: 5px;
}
.icon-text{
    margin: 7px;
}
.f-image{
    margin-bottom: 50px;
}
.social-icon{
    margin-top: 30px;
}
.policy{
    margin-top: 75px;
}
li{
    font-size: small;
}

.app{
    font-weight: bold;
    font-family: sans-serif;
}
.item{
    margin-top: 10px;
}
.ggl-play{
    margin-top: 4px;
}
.inline{
    
    align-items: center;
    
}
.move{
    margin: 3px;
}
.p-text{
    text-align: center;
    font-size: small;
}
.div-text{
    font-size: 95%;
    word-spacing: 3px;
    line-height: 1.7; 
    align-items: center;
}
.test-last{
    text-align: center !important;
}
.copyright{
   
    padding-top: 12px;
    padding-bottom: 3px;
    background-color: #f1f2f4;
    font-size: 90%;
    align-items: center;
    margin-top: 0px;
}
.addition{
    align-items: center;
}
.icon-text{
    align-items: center
}
.size{
    font-size: small;
    margin-left: 5px;
}
.xtra{
    font-size: 11px;
    margin-left: 5px;
}
.aside{
    margin-right: 5px;
}
.aside-1{
    margin-right: 2px;
    margin-left: -7px;
}
.new{
    align-items: center;
}


html body ul {
    margin: 0px 0px 0px 19px;
    padding: 0;
}
.same{
    margin-top: 15px;
}
/* start signup page */
.first-kit{
    height: 744px;
    margin-top: 30px;
    border-radius: 4px;
}
.move-left{
    margin-left: 12px;
}

.second-kit{
    background-color: white;
    height: 720px;
    margin-top: 40px;
    border-radius: 5px;
}
.signup-body{
    background-color: #f1f2f4;
}
.just{
    margin-top: 20px;
}
.bt{
    cursor: pointer;
    color: #acafb0;
    padding: 0 20px;
    font-size: large;
    border-bottom: 2px solid #EBEDEE;
    padding-bottom: 6px;
}
p.active {
    color: #2874F0;
    border-color: #2874F0;
}
.abc{
    cursor: pointer;
    color: #acafb0;
    padding: 0 20px;
    font-size: large;
    border-bottom: 2px solid #EBEDEE;
    padding-bottom: 6px;
}
.xyz{
    color: #2874F0;
    border-bottom: 2px solid #2874F0;
    font-size: large;
    cursor: pointer;
    padding: 0 20px;
    font-size: large;
    padding-bottom: 6px;
}
.new-active{
    color: #2874F0;
    border-bottom: 2px solid #2874F0;
    font-size: large;
    cursor: pointer;
    padding: 0 20px;
    font-size: large;
    padding-bottom: 6px;
}
.new-stop{
    cursor: pointer;
    color: #acafb0;
    padding: 0 20px;
    font-size: large;
    border-bottom: 2px solid #EBEDEE;
    padding-bottom: 6px;
}
.p-styl{
    font-size: small;
    margin-top: 5px;
}
.for-gap{
    column-gap: 20px;
}
.try-mt{
    margin-top: 10px;
}
.do-size{
    font-size: small;
}

.text-box{
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    border-bottom: 2px solid #acafb0;
    margin-top: 40px;
    padding: 5px 0;

}

.envelope,.lock{
    width: 26px;
    text-align: center;
    color: #acafb0;
    margin:0 5px;
}
.input-style{
    border: none;
    outline: none;
    background: none;
}
::-webkit-input-placeholder{
    color: #acafb0;
}
.div-border{
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    border-bottom: 2px solid #87b5ff;
    margin-top: 40px;
    padding: 5px 0;
}
.div-border-edit{
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    border-bottom: 2px solid yellowgreen;
    margin-top: 40px;
    padding: 5px 0;
}
.new-styl{
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    border-bottom: 2px solid red;
    margin-top: 40px;
    padding: 5px 0;
}
.i-decoration{
    position: absolute;
    right: 30px;
    transform: translate(0,-50%);
    top: 49%;
    cursor: pointer;
    width: 26px;
}

.eye-plus{
    position: absolute;
    right: 30px;
    transform: translate(0,-50%);
    top: 53%;
    cursor: pointer;
    width: 26px;
}
.far{
    color: #acafb0;
}
.span{
    color: red;
}
.label-end{
    column-gap: 180px;
}
.forgot{
    color: blue;
}
.extra{
    margin-top: -35px;
}
.item{
    margin-top: 20px;
}
.color-i{
    color: blue;
    margin-left: 5px;
}
.margin-t{
    margin-top: 3px;
}

/* small footer rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
.nn{
    background-color: white;
}
.nnn{
    background-color: white;
}
.addition-row{
    height: 130px;
    margin-top: 30px;
}
.justy{
    margin:40px 0px 0px 170px;
    
}
.main-div{
    margin-top: 19px;
}
.pp{
    font-size: 14px;
    margin-left: 10px;
}
.spa{
    font-size: larger;
    font-family: sans-serif;
}
.poly{
    text-align: center;
    margin-top: 7px;
}
/* stationary page pppppppppppppppppppppppppppppppppppppppppp */
/* stationary page pppppppppppppppppppppppppppppppppppppppppp */
/* stationary page pppppppppppppppppppppppppppppppppppppppppp */

.fa-home{
  font-size: small;
  margin-right: 5px;
}
.fa-chevron-right{
    font-size: smaller;
    font-weight: lighter;
    margin-right: 5px;
}
.ul-custom{
    height: 226px;
    overflow:auto;
    border-bottom: 1px solid #e6e6e6;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #999595;
    border: 1px solid #463d3d;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    border: 1px solid #999595;
    background-color: #e4e4e4;
}
.input-serch{
    position: relative;
    height: 33px;
    padding: 10px;
    width: 200px;
    border: 1px solid #e6e6e6;
    margin-top: -17px;
}

.search-text{
    border: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height:27px ;
    margin-top: -10px;
    position: absolute;
    margin-left: -5px;
    width: 160px;
    
}
.fa-fa-search{
   margin-top: 0px;
   align-items: center;
   margin-left: 164px;
   position: absolute;
   cursor: pointer;
   color:#999595 ;
}
.new-outline{
    border: 1px solid rgb(72, 190, 236);
    position: relative;
    height: 33px;
    padding: 10px;
    width: 200px;
    margin-top: -17px;
    
}
.main{
    margin-top: 30px;
}
.onto{
    font-size: small;
}
.height-scroll{
    height: 300px;
    overflow: auto;
    margin-left: -13px;
    margin-top: 5px;
}
.karu-kaj{
    margin-left: 3px;
    margin-top: -7px;
    border-bottom: 1px solid #e6e6e6;
}
.fa-chevron-down{
    margin-right: 5px;
}
.fa-star{
    color: green;
}
.product-mt{
    margin-top: 30px;
}
.horizontal{
    margin-top: 40px;
}
.all{
    margin-top: 40px;
}
.btn-gap{
    column-gap: 10px;
}
.stationary-input{
    padding: 8px 15px;
    border: 2px solid gray;
    
}
#st-first{
    outline: none;
    padding: 8px 15px;
    border: 2px solid yellowgreen;
    
    
}
.nav-edit-now{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 10px 0 0 0;
  
}
.fa-female, .fa-male{
    margin:5px;
    font-size: large;
}
.bdfgg{
    width: 100%;
}
.cart:hover{
    height: 80px;
    width: 180px;
    transition: 1s;
}
.alin-item-sub-footer{
    margin-top: 6px;
}
.take-under{
    color: red;
}
.hr-color{
   background-color: rgb(139, 139, 139);
   margin-top: -1px;
   position: relative;
}


/* register and sign up page mmmmmmmmmmmmmmmmmmm */
.registerr{
    margin-top: -733px;
    margin-left: 400px;
    background-color: white;
    height: 720px;
    border-radius: 5px;
    width: 50%;
}
.addi-space{
    margin-left: 20px;
}
.play{
    display: none;
}
.slider2{
    display: none;
}
.slider1{
    margin-left: 20px;
    width: 1000px;
}
.registerr-again{
   display: none;
}
.rg-primary{
    display: none;
}
.text-box2{
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    border-bottom: 1px solid #acafb0;
    margin-top: 20px;
    padding: 3px 0;
}
.blue{
    color: #2874F0;
}