*{
    box-sizing: border-box;
}
.background-color-check{
    background-color: #87b5ff;
    height: 500px;
}
.background-color-check2{
    background-color: orange;
    height: 500px;
}
.another{
    
    margin: 5px;
}
.icon-text{
    margin: 7px;
}
.f-image{
    margin-bottom: 50px;
}
.social-icon{
    margin-top: 30px;
}
.policy{
    margin-top: 75px;
}
li{
    font-size: small;
}

.app{
    font-weight: bold;
    font-family: sans-serif;
}
.item{
    margin-top: 10px;
}
.ggl-play{
    margin-top: 4px;
}
.inline{
    
    align-items: center;
    
}
.move{
    margin: 3px;
}
.p-text{
    text-align: center;
    font-size: small;
}
.div-text{
    font-size: 95%;
    word-spacing: 3px;
    line-height: 1.7; 
    align-items: center;
}
.test-last{
    text-align: center !important;
}
.copyright{
   
    padding-top: 12px;
    padding-bottom: 3px;
    background-color: #f1f2f4;
    font-size: 90%;
    align-items: center;
    margin-top: 0px;
}
.addition{
    align-items: center;
}
.icon-text{
    align-items: center
}
.size{
    font-size: small;
    margin-left: 5px;
}
.xtra{
    font-size: 11px;
    margin-left: 5px;
}
.aside{
    margin-right: 5px;
}
.aside-1{
    margin-right: 2px;
    margin-left: -7px;
}
.new{
    align-items: center;
}


html body ul {
    margin: 0px 0px 0px 19px;
    padding: 0;
}
.same{
    margin-top: 15px;
}
/* start signup page */
.first-kit{
    height: 744px;
    margin-top: 30px;
    border-radius: 4px;
}
.move-left{
    margin-left: 12px;
}

.second-kit{
    background-color: white;
    height: 720px;
    margin-top: 40px;
    border-radius: 5px;
}
.signup-body{
    background-color: #f1f2f4;
}
.just{
    margin-top: 20px;
}
.bt{
    cursor: pointer;
    color: #acafb0;
    padding: 0 20px;
    font-size: large;
    border-bottom: 2px solid #EBEDEE;
    padding-bottom: 6px;
}
p.active {
    color: #2874F0;
    border-color: #2874F0;
}
.abc{
    cursor: pointer;
    color: #acafb0;
    padding: 0 20px;
    font-size: large;
    border-bottom: 2px solid #EBEDEE;
    padding-bottom: 6px;
}
.xyz{
    color: #2874F0;
    border-bottom: 2px solid #2874F0;
    font-size: large;
    cursor: pointer;
    padding: 0 20px;
    font-size: large;
    padding-bottom: 6px;
}
.new-active{
    color: #2874F0;
    border-bottom: 2px solid #2874F0;
    font-size: large;
    cursor: pointer;
    padding: 0 20px;
    font-size: large;
    padding-bottom: 6px;
}
.new-stop{
    cursor: pointer;
    color: #acafb0;
    padding: 0 20px;
    font-size: large;
    border-bottom: 2px solid #EBEDEE;
    padding-bottom: 6px;
}
.p-styl{
    font-size: small;
    margin-top: 5px;
}
.for-gap{
    column-gap: 20px;
}
.try-mt{
    margin-top: 10px;
}
.do-size{
    font-size: small;
}

.text-box{
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    border-bottom: 2px solid #acafb0;
    margin-top: 40px;
    padding: 5px 0;

}

.envelope,.lock{
    width: 26px;
    text-align: center;
    color: #acafb0;
    margin:0 5px;
}
.input-style{
    border: none;
    outline: none;
    background: none;
}
::-webkit-input-placeholder{
    color: #acafb0;
}
.div-border{
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    border-bottom: 2px solid #87b5ff;
    margin-top: 40px;
    padding: 5px 0;
}
.div-border-edit{
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    border-bottom: 2px solid yellowgreen;
    margin-top: 40px;
    padding: 5px 0;
}
.new-styl{
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    border-bottom: 2px solid red;
    margin-top: 40px;
    padding: 5px 0;
}
.i-decoration{
    position: absolute;
    right: 30px;
    transform: translate(0,-50%);
    top: 49%;
    cursor: pointer;
    width: 26px;
}

.eye-plus{
    position: absolute;
    right: 30px;
    transform: translate(0,-50%);
    top: 53%;
    cursor: pointer;
    width: 26px;
}
.far{
    color: #acafb0;
}
.span{
    color: red;
}
.label-end{
    column-gap: 180px;
}
.forgot{
    color: blue;
}
.extra{
    margin-top: -35px;
}
.item{
    margin-top: 20px;
}
.color-i{
    color: blue;
    margin-left: 5px;
}
.margin-t{
    margin-top: 3px;
}
.registerr{
    display: none;
}
/* small footer rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
.nn{
    background-color: white;
}
.nnn{
    background-color: white;
}
.addition-row{
    height: 130px;
    margin-top: 30px;
}
.justy{
    margin:40px 0px 0px 170px;
    
}
.main-div{
    margin-top: 19px;
}
.pp{
    font-size: 14px;
    margin-left: 10px;
}
.spa{
    font-size: larger;
    font-family: sans-serif;
}
.poly{
    text-align: center;
    margin-top: 7px;
}
/* stationary page pppppppppppppppppppppppppppppppppppppppppp */
/* stationary page pppppppppppppppppppppppppppppppppppppppppp */
/* stationary page pppppppppppppppppppppppppppppppppppppppppp */

.fa-home{
  font-size: small;
  margin-right: 5px;
}
.fa-chevron-right{
    font-size: smaller;
    font-weight: lighter;
    margin-right: 5px;
}
.ul-custom{
    height: 226px;
    overflow:auto;
    border-bottom: 1px solid #e6e6e6;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #999595;
    border: 1px solid #463d3d;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    border: 1px solid #999595;
    background-color: #e4e4e4;
}
.input-serch{
    position: relative;
    height: 33px;
    padding: 10px;
    width: 240px;
    border: 1px solid #e6e6e6;
    margin-top: -17px;
}

.search-text{
    border: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height:27px ;
    margin-top: -10px;
    position: absolute;
    margin-left: -5px;
    
}
.fa-search{
   margin-top: 0px;
   align-items: center;
   margin-left: 200px;
   position: absolute;
   cursor: pointer;
   color:#999595 ;
}
.new-outline{
    border: 1px solid rgb(72, 190, 236);
    position: relative;
    height: 33px;
    padding: 10px;
    width: 240px;
    margin-top: -17px;
    
}
.main{
    margin-top: 30px;
}
.onto{
    font-size: small;
}
.height-scroll{
    height: 300px;
    overflow: auto;
    margin-left: -13px;
    margin-top: 5px;
}
.karu-kaj{
    margin-left: 3px;
    margin-top: -7px;
    border-bottom: 1px solid #e6e6e6;
}
.fa-chevron-down{
    margin-right: 5px;
}
.fa-star{
    color: green;
}
